<% provide(:title, "Question") %>
<% if @question_res %>

	<div class="row">
		<div class="col-sm-12">
		 	<strong> <%= @question_res["user"]["name"] %> </strong> Posted Below Question -  
		</div>
	</div>
	<br>

	<div class="row">
		<div class="col-sm-1">
			<h4> Question:</h4>
		</div>
		<div class="col-sm-11" >
			<h4> <%= @question_res["value"] %> </h4>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-1">
			<h5> Tags: </h5>
		</div>

		<div class="col-sm-11">
			<% tag_list = @question_res["tags"].map { |tag| tag["value"] } %>
			<% tags = tag_list.join(", ") %>
			<h5> <%= tags %> </h5>
		</div>
	</div>

	<hr>
	<div class="row">
		<div class="col-sm-3">
			<%= form_with(url: post_answer_path ) do |f| %>

				<%= f.text_field :answer, placeholder: "Write an answer" %>
				<%= f.hidden_field :id, value: @question_res["id"]  %>

				<%= f.submit "Post your Answer", class: "btn btn-primary" %>
			<% end %>
		</div>

		<div class="col-sm-3">
			<%= form_with(url: post_comment_path ) do |f| %>

				<%= f.text_field :comment, placeholder: "Post Your Comment" %>
				<%= f.hidden_field :id, value: @question_res["id"]  %>
				<%= f.hidden_field :type, value: "Question" %>
				<%= f.submit "Post your Comment", class: "btn btn-primary" %>
			<% end %>
		</div>

		<div class="col-sm-2">
			<%= form_with(url: post_vote_path ) do |f| %>
				
				<%= f.hidden_field :id, value: @question_res["id"]  %>
				<%= f.hidden_field :type, value: "Question" %>
				<%= f.select :weight, options_for_select([['UP', "upvote"], ['DOWN', "downvote"]]) %>
				<%= f.submit "Vote", class: "btn btn-primary" %>
			<% end %>
		</div>

		<% if session[:user_id] == @question_res["user"]["id"] %>
			<div class="col-sm-1">
				<%= form_with(url: edit_question_path, method: "get") do |f| %>
					<%= f.hidden_field :id, value: @question_res["id"]  %>
					<%= f.submit "Edit", class: "btn btn-primary" %>
				<% end %>
			</div>
		<% end %>
		
				
		<% if session[:user_id] == @question_res["user"]["id"] %>
			<div class="col-sm-3">
				<%= form_with(url: delete_question_path, method: "get") do |f| %>
					<%= f.hidden_field :id, value: @question_res["id"]  %>
					<%= f.submit "Delete Question", class: "btn btn-primary" %>
				<% end %>
			</div>
		<% end %>

	</div>
	<hr>

	<div class="row">
		<div class="col-sm-2">
		</div>	
	 
		<div class="col-sm-2">
			<strong> UPVOTES: </strong>
		</div>

		<div class="col-sm-2">
		  <h1> <%= @question_res["votes"]["upvote"] %> </h1>
		</div>

		<div class="col-sm-2">
		  <strong> DOWNVOTES: </strong>
		</div>
		
		<div class="col-sm-2">
			<h1> <%= @question_res["votes"]["downvote"] %> </h1>
		</div>

		<div class="col-sm-2">
		</div>
	</div>
	<hr>
	<center> <h3> Answers </h3> </center><br>
	<% ans_count=1 %>
	<% @question_res["answers"].each do |answer| %>
		<% if answer["value"] %>
			<div class="row">
				<div class="col-sm-5">
					<p> <%= ans_count %>. &nbsp; <%= answer["value"] %> </p>
				</div>
				
				<div class="col-sm-2">		
					<%= form_with(url: post_comment_path ) do |f| %>
						<%= render 'shared/error_messages' %>
						<%= f.hidden_field :id, value: answer["id"] %>
						<%= f.text_field :comment, placeholder: "Write a comment" %>
						<%= f.hidden_field :type, value: "Answer" %>
				</div>
				
				<div class="col-sm-2">
					<%= f.submit "Post your commemt", class: "btn btn-primary" %>
				</div>
					<% end %>

				<div class="col-sm-1">
					<%= form_with(url: post_vote_path ) do |f| %>
						<%= render 'shared/error_messages' %>
						
						<%= f.hidden_field :id, value: answer["id"]  %>
						<%= f.hidden_field :type, value: "Answer" %>
						<%= f.select :weight, options_for_select([['UP', "upvote"], ['DOWN', "downvote"]]) %>
				</div>
				
				<div class="col-sm-1">
						<%= f.submit "Vote", class: "btn btn-primary" %>
				</div>
					<% end %>
				
				<div class="col-sm-1">
					<%= form_with(url: show_answer_path, method: "get" ) do |f| %>
						<%= f.hidden_field :id, value: answer["id"]  %>
						<%= f.submit "Show", class: "btn btn-primary" %>
					<% end %>
				</div>
			</div>
			<% ans_count += 1 %>
		<% end %>
	<% end %>
	<hr>

	<center> <h3> Comments </h3> </center><br>
	<% comment_count = 1 %>
	<% @question_res["comments"].each do |comment| %>		
		<% if comment["value"] %>
			<div class="row">
				<div class="col-sm-10">
					<p> <%= comment_count %>. <%= comment["value"] %>
				</div>
				
				<div class="col-sm-2">
					<%= form_with(url: show_comment_path, method: "get") do |f| %>
						<%= f.hidden_field :id, value: comment["id"]  %>
						<%= f.hidden_field :type, value: "Question"  %>
						<%= f.hidden_field :type_id, value: @question_res["id"]  %>
						<%= f.submit "Show", class: "btn btn-primary" %>
					<% end %>
				</div> 
			</div>
			<% comment_count += 1 %>
		<% end %>
	<% end %>

<% end %>