<% provide(:title, "Home") %>
<h1>Welcome to the Stack Overflow</h1>

<h2>
	This is the home page for the
	<a href="https://www.1mg.com/">Stack Overflow</a>
	sample application.
</h2> 

<% if !logged_in? %>
    <center><%= link_to "Sign up now!", signup_path , class: "btn btn-lg btn-primary" %></center> 
    <br>
    <center><%= link_to "Log in now!", login_path , class: "btn btn-lg btn-primary" %></center> 
    <br>
<% end %>
<center><%= link_to "Search now!", search_path , class: "btn btn-lg btn-primary" %></center> 
<br>
<center> <%= link_to image_tag("1mg-logo.jpeg", alt: "1mg logo"),
					'https://www.1mg.com/' %> </center>