<% provide(:title, "Edit Comment") %>

<div class="row">
	<%= form_with(url: edit_comment_path) do |f| %>
		<div class="col-sm-1">
			<label>Comment:</label><br>
		</div>

		<div class="col-sm-10">
			<%= f.hidden_field :id, value: @comment_res["id"]  %>
			<%= f.hidden_field :type_id, value: @comment_type_id  %>
			<%= f.hidden_field :type, value: @comment_type  %>
			<%= f.text_field :value, value: @comment_res["value"]  %><br>
		</div>

		<div class="col-sm-1">
			<%= f.submit "Post", class: "btn btn-primary" %>
		</div>
	<% end %>
</div>
