<% provide(:title, "Answer" ) %>
<% if @answer_res %>

	<div class="row">
		<div class="col-sm-8">
		 	<h4>Question: &nbsp; <%= @answer_res["question"]["value"] %> </h4>
		</div>

		<div class="col-sm-2">
			<%= form_with(url: post_vote_path ) do |f| %>
				<%= render 'shared/error_messages' %>
				
				<%= f.hidden_field :id, value: @answer_res["question"]["id"]  %>
				<%= f.hidden_field :type, value: "Question" %>
				<%= f.select :weight, options_for_select([['UP', "upvote"], ['DOWN', "downvote"]]) %>
		</div>

		<div class="col-sm-2">
				<%= f.submit "Vote", class: "btn btn-primary" %>
			<% end %>
		</div>
	</div>
	
	<br>
	<div class="row">
		<div class="col-sm-12">
			 <strong> <%= @answer_res["user"]["name"] %> </strong> Posted Below Answer -  
		</div>
	</div>

	<div class="row">

		<div class="col-sm-8">
			<h4> Answer: <%= @answer_res["value"] %> </h4>
		</div>

		<div class="col-sm-2">
			<%= form_with(url: post_vote_path ) do |f| %>
				<%= render 'shared/error_messages' %>
				
				<%= f.hidden_field :id, value: @answer_res["id"]  %>
				<%= f.hidden_field :type, value: "Answer" %>
				<%= f.select :weight, options_for_select([['UP', "upvote"], ['DOWN', "downvote"]]) %>
		</div>

		<div class="col-sm-1">
				<%= f.submit "Vote", class: "btn btn-primary" %>
			<% end %>
		</div>

		<% if session[:user_id] == @answer_res["user"]["id"] %>
			<div class="col-sm-1">
				<%= form_with(url: edit_answer_path, method: "get") do |f| %>
					<%= f.hidden_field :id, value: @answer_res["id"] %>
					<%= f.submit "Edit", class: "btn btn-primary" %>
				<% end %>
			</div>
		<% end %>


	</div>
	<hr>

	<div class="row">
		<div class="col-sm-2">
		</div>	
	
		<div class="col-sm-2">
			<strong> UPVOTES: </strong>
		</div>

		<div class="col-sm-2">
			<h1> <%= @answer_res["votes"]["upvote"] %> </h1>
		</div>

		<div class="col-sm-2">
			<strong> DOWNVOTES: </strong>
		</div>
		
		<div class="col-sm-2">
			<h1> <%= @answer_res["votes"]["downvote"] %> </h1>
		</div>

		<div class="col-sm-2">
		</div>
	</div>

	<hr>

	<div class="row">

		<div class="col-sm-1">
		</div>

		<div class="col-sm-2">
		 <h3> Comments </h3> 
		</div>

		<div class="col-sm-3">
			<%= form_with(url: post_comment_path ) do |f| %>
				<%= render 'shared/error_messages' %>

				<%= f.text_field :comment, placeholder: "Post Your Comment" %>
				<%= f.hidden_field :id, value: @answer_res["id"]  %>
				<%= f.hidden_field :type, value: "Answer" %>
		</div>

		<div class="col-sm-1">
				<%= f.submit "Add", class: "btn btn-primary" %>
			<% end %>
		</div>

		<% if session[:user_id] == @answer_res["user"]["id"] %>
		<div class="col-sm-4">
			<%= form_with(url: delete_answer_path, method: "get") do |f| %>
				<%= f.hidden_field :id, value: @answer_res["id"]  %>
				<%= f.submit "Delete Answer", class: "btn btn-primary" %>
			<% end %>
		</div>
	<% end %>	

		<div class="col-sm-1">
		</div>

	</div>
	
	<% comment_count = 1 %>
	<% @answer_res["comments"].each do |comment| %>		
		<% if comment["value"] %>
			<div class="row">
				<div class="col-sm-10">
					<p> <%= comment_count %>. <%= comment["value"] %>
				</div>
				
				<div class="col-sm-2">
					<%= form_with(url: show_comment_path, method: "get") do |f| %>
						<%= f.hidden_field :id, value: comment["id"]  %>
						<%= f.hidden_field :type, value: "Answer"  %>
						<%= f.hidden_field :type_id, value: @answer_res["id"]  %>
						<%= f.submit "Show", class: "btn btn-primary" %>
					<% end %>
				</div> 
			<% comment_count += 1 %>
			<br><br>
			</div>
		<% end %>
	<% end %>

	
  <hr>

<% end %>