<footer class="footer">
  <small>
    Bringing <a href="https://www.1mg.com/"> Back</a>
    The <a href="https://www.1mg.com/">Healthcare</a>
  </small>
  <nav>
    <ul>
      <li><a href="https://www.1mg.com/">News</a></li>
    </ul>
  </nav>
</footer>