<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
		<%= link_to "stack overflow front", root_path, id: "logo" %>
		<nav>
			<ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path  %></li>
        <% if logged_in? %> 
					<li> <%= link_to "User Info", show_user_path %></li>
					<li> <%= link_to "Search", search_path %> </li>
					<li> <%= link_to "Log out", logout_path , method: :delete %></li>
        <% else %>
					<li><%= link_to "Log In", login_path %></li>
				<% end %>
  </div>
</header>